<%- include('../partials/header'); %>
<section class="section-newcamp">
  <div class="form-wrapper">
    <h2 class="heading-2 mb-4">Add New Campground</h2>
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="post"
      class="form"
    >
      <div class="form__box">
        <input
          type="text"
          name="campground[title]"
          class="form__input form__input--f"
          id="campgroundName"
          placeholder="Name"
          value="<%= campground.title %>"
          required
        />
      </div>
      <div class="form__box">
        <div class="form__box--h">
          <input
            type="text"
            name="campground[imgURL]"
            class="form__input"
            id="campgroundImage"
            placeholder="Image URL"
            value="<%= campground.imgURL %>"
            required
          />
        </div>
        <div class="form__box--h">
          <input
            type="text"
            name="campground[location]"
            class="form__input"
            id="campgroundLocation"
            placeholder="Location"
            value="<%= campground.location %>"
            required
          />
        </div>
      </div>
      <div class="form__box">
        <div class="form__box--h">
          <input
            type="text"
            name="campground[contact]"
            class="form__input"
            id="campgroundEmail"
            placeholder="Contact"
            value="<%= campground.contact %>"
            required
          />
        </div>
        <div class="form__box--h">
          <input
            type="text"
            name="campground[website]"
            class="form__input"
            id="campgroundWeb"
            placeholder="Website"
            value="<%= campground.website %>"
          />
        </div>
      </div>
      <div class="form__box">
        <div class="form__box--h">
          <input
            type="text"
            name="campground[cost]"
            class="form__input"
            id="campgroundPrice"
            placeholder="Cost"
            value="<%= campground.cost %>"
          />
        </div>
        <div class="form__box--h">
          <input
            type="text"
            name="campground[essentials]"
            class="form__input"
            id="campgroundEssentials"
            placeholder="Essential Equipments"
            value="<%= campground.essentials %>"
            required
          />
        </div>
      </div>
      <textarea
        class="form__textarea"
        name="campground[description]"
        placeholder="Description"
      >
<%= campground.description %></textarea
      >
      <button class="btn btn--primary form__btn">Update</button>
    </form>
  </div>
</section>
<%- include('../partials/footer'); %>
